* {
  margin: 0;
  padding: 0;
}

body {
    font-family: 'Bangers', cursive;
    font-size: 18px;
    background-image: url('../images/background-body.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .game-intro {
    color: rgb(1, 1, 69);
  }
  
  .game-intro p {
    font-size: 1.5rem;
  }

.red {
    color: rgb(134, 0, 0);
  }

 h1 {
    text-transform: uppercase;
    font-size: 3rem;
  }

h3 {
    font-size: 2rem;
  }
  
body button {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
  }

  .arrows-img {
    width: 150px;
  }

  #game-board {
    display: none;
    padding: 20px 0px;
}

.shadow-bg {
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.game-over {
  background-image: url("../images/game-over.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 60%;
  height: 60%;
  color: white;
}